<div>
  <div>
    <h4><span class="glyphicon glyphicon-shopping-cart"></span> My Cart</h4>
  </div>
  <div>
    <table class="table table-hover table-responsive" id="my-cart-table">
      <tbody>

        <tr *ngFor="let cab of cabinets; let i = index">
          <td class="text-center" style="width: 30px;">
            <img width="30px" height="30px" src="{{serverUrl + cab.pic}}">
          </td><td>{{ cab.cab_name }}</td>
          <td>${{ cab.price }}</td>
          <td>
            <input type="number" min="1" style="width: 70px;" class="my-product-quantity" [(ngModel)]="cab.cart_cnt" (change)="triggerCart(cab.cart_cnt, i)">
          </td>
          <td class="my-product-total">${{ cab.price }}</td>
          <td class="text-center" style="width: 30px;">
            <a class="btn btn-xs btn-danger my-product-remove" (click)="removeCab(i)">X</a>
          </td>
        </tr>

        <tr>
          <td></td>
          <td><strong>Total</strong></td>
          <td></td><td></td>
          <td><strong id="my-cart-grand-total">${{ totalPrice }}</strong></td>
          <td></td>
        </tr>

        <tr style="color: red"><td></td>
          <td><strong>Total (including discount)</strong></td>
          <td></td><td></td>
          <td><strong id="my-cart-discount-price">${{ totalPrice }}</strong></td>
          <td><button class="btn btn-danger btn-sm" routerLink="/cart/confirm" *ngIf="totalPrice > 0">check out</button></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
