<div class="col-sm-6">
  <h3>Product Add - Form</h3>
  <form [formGroup]="form" (submit)="addCabinet(); form.reset()">
    <div class="form-group">
      <label for="cab_name">Cabinet Name: </label>
      <input type="text" class="form-control" id="cab_name" name="cab_name" formControlName="cab_name">
    </div>

    <div class="form-group">
      <label for="cabinet_image">Cabinet Image: </label>
      <input class="form-control" type="file" (change)="onFileChange($event)" id="cabinet_image" name="cabinet_image">
    </div>

    <div class="form-group">
      <label for="cab_desc">Description: </label>
      <input type="text" name="cab_desc" id="cab_desc" class="form-control" formControlName="cab_desc">
    </div>

    <div class="form-group">
      <label for="price">Price: </label>
      <input type="text" name="price" id="price" class="form-control" formControlName="price">
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
    <h4 *ngIf="flag">You have add a cabinet successfully</h4>
  </form>
</div>
