<div class="col-sm-6">
  <h3>Product Add - Form</h3>
  <form [formGroup]="form" (submit)="addProduct(); form.reset()">
    <div class="form-group">
      <label for="pro_name">Product Name: </label>
      <input type="text" class="form-control" id="pro_name" name="pro_name" formControlName="pro_name">
    </div>

    <div class="form-group">
      <label for="product_image">Product Image: </label>
      <input class="form-control" type="file" (change)="onFileChange($event)" id="product_image" name="product_image">
    </div>

    <div class="form-group">
      <label for="price">Price: </label>
      <input type="text" name="price" id="price" class="form-control" formControlName="price">
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
    <h4 *ngIf="flag">You have add a product successfully</h4>
  </form>
</div>
