<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="navbar-brand" href="/">
        <img src="../assets/images/logo.jpg" alt="Techro HTML5 template"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right mainNav">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/product" routerLinkActive="active">All Products</a></li>
        <li class="active"><a routerLink="/user/login" routerLinkActive="active">Login</a></li>
        <li class="active"><a routerLink="/user/register" routerLinkActive="active">Register</a></li>
        <li class="active"><a routerLink="user/logout" routerLinkActive="active">Logout</a></li>
        <li><a routerLink="/cart" routerLinkActive="active"><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a></li>
        <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<!-- /.navbar -->

<header id="head" class="secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1>make up</h1>
      </div>
    </div>
  </div>
</header>

<!-- container -->
<section class="container">
  <div class="row">
    <div class="col-md-12">
      <section id="portfolio" class="page-section section appear clearfix">
        <br />
        <br />
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>

</section>
<!-- /container -->

<footer id="footer">
  <div class="container">
    <div class="social text-center">
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-flickr"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
    </div>

    <div class="clear"></div>
    <!--CLEAR FLOATS-->
  </div>
  <div class="footer2">
    <div class="container">
      <div class="row">

        <div class="col-md-6 panel">
          <div class="panel-body">
            <p class="simplenav">
              <a routerLink="/" routerLinkActive="active">Home</a> |
              <a routerLink="/about" routerLinkActive="active">About</a> |
              <a routerLink="/cabinet" routerLinkActive="active">All Cabinets</a> |
              <a routerLink="/faq" routerLinkActive="active">FAQ</a> |
              <a routerLink="/Register" routerLinkActive="active">Register</a> |
              <a routerLink="/contact" routerLinkActive="active">Contact</a>
            </p>
          </div>
        </div>

        <div class="col-md-6 panel">
          <div class="panel-body">
            <p class="text-right">
              Copyright &copy; 2018.Company name All rights reserved. <a href="" target="_blank" title="Super Cabinet">Super Cabinet</a> - Collect from <a href="" title="Super Cabinet" target="_blank"></a>
            </p>
          </div>
        </div>

      </div>
      <!-- /row of panels -->
    </div>
  </div>
</footer>


